
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
body{
  background-color: #777;
  .navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }

  .cardItem{
    margin: 0 0 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0;
    box-shadow: 1px 1px 1px 0px #222;
    .card-body{

    }
    .card-header{
        font-size: 20px;
        font-weight: bold;
      background-color: #f1f1f1;
    }
    .card-body{
      background-color: #f1f1f1;
    }
    .card-footer{
      background-color: #f1f1f1;
    }
  }
  
  .no-entry{
    color: #f1f1f1;
    font-size: 20px;
  }
}
